---
import Container from '../Layout/Container.astro';
import shield from '../../assets/shield.svg';
---

<div class="hero">
	<Container class="relative-container">
			<h2>
				Unlocking the law’s full potential to ensure safe science and technology
			</h2>
			<p>Rapid advancements in biotechnology and artificial intelligence offer immense potential to benefit people and the planet. However, the world is unprepared for uncontrolled access to such powerful technologies. Effective legislation is urgently needed to harness the benefits while safeguarding against misuse and unintended large scale harms.

		Rules alone are only the first step—they require continuous interpretation and refinement to keep pace with society's changing needs. Judges play a critical role in adapting legal frameworks to these new realities, ensuring that our laws remain fit for purpose.

		We explore how legal frameworks—both existing and emerging—can be shaped to ensure that advances in science and technology are made safely and securely for the benefit of all.

			</p>
			<img src={shield.src} alt="" />
		</Container>
	</div>

  <style>
	.hero {
		background: var(--t-background-callout-1-gradient);
		padding: var(--t-spacing-3);
    padding-block: var(--t-spacing-6);
	}

	.relative-container {
		container-type: inline-size;
		position: relative;
	}

	h2 {
    font-size: clamp(1.5rem, 7vw, 4rem);;
    margin: 0;
	}

	p {
		max-width: 75ch;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
			translate: 100px 0px;
		}
		to {
			opacity: 0.05;
			translate: 0 0;
		}
	}
	img {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40cqw;
		height: auto;
		opacity: 0.05;
		animation: fade-in 800ms ease-in-out;
	}
</style>
