:root {
  --mint9: color(display-p3 0.62 0.908 0.834);
  --yellow5: color(display-p3 0.984 0.91 0.51);

  --t-colors-main: var(--mint9);
  --t-colors-dark: color(display-p3 0.113 0.125 0.14);
  --t-colors-text: var(--t-colors-dark);
  --t-colors-text-light: color(display-p3 0.379 0.392 0.421);
  --t-colors-text-inverted: white;
  --t-colors-border: color(display-p3 0.727 0.733 0.773);
  --t-border-radius: 10px;

  --t-background-nav: rgb(45, 45, 45);
  --t-background-slate1: color(display-p3 0.976 0.976 0.984);
  --t-background-white: rgb(255, 255, 255);
  --t-background: var(--t-background-slate1);
  --t-background-callout-1-gradient: linear-gradient(120deg, var(--mint9) 0%, var(--mint9) 30%, var(--yellow5) 100%);
  --t-font-family-main: "Lato", sans-serif;
  --t-font-family-heading: 'Josefin Sans Variable', sans-serif;

  --t-spacing-3: 1rem;
  --t-spacing-4: 1.5rem;
  --t-spacing-5: 2rem;
  --t-spacing-6: 4rem;
}

body {
  font-family: var(--t-font-family-main);
  background-color: var(--t-background);
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--t-font-family-heading);
  text-wrap: balance;
}

a {
  text-decoration: none;
}

p {
  text-wrap: pretty;
}
