---
type Props = {
  class?: string;
};

const { class: className, ...rest } = Astro.props;
---

<div class={className} {...rest}>
  <div class='inner'>
    <slot />
  </div>
</div>

<style>
  div {
    width: min(var(--t-max-container-size), 100%);
    margin: 0 auto;
    padding-inline: var(--inner-container-padding, var(--t-spacing-3));
  }

  .inner {
    --inner-container-padding: 0px;
    display: contents;
  }
</style>
