---
import Hero from '../components/Hero/Hero.astro';
import Container from '../components/Layout/Container.astro';
import TextBlock from '../components/TextBlock.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="EASST">
	<Hero />
	<TextBlock
	title="Our approach "
	>
	<h3>
		Research
	</h3>
	<p>
	We explore how existing and emerging legal frameworks can be leveraged to ensure safer advances in science and technology for people and the planet.
	</p>

	<h3>
		Development
	</h3>
	<p>
		We identify opportunities and develop actionable strategies to achieve these goals.
	</p>
	<h3>
		Inform
	</h3>
	<p>
	We inform legal professionals about how they can help make advances in science and technology safer for people and the planet.
	</p>
</TextBlock>
</MainLayout>

