---
import { ATOMIC_WEBSITE_SUBJECT } from 'astro:env/client';
import { getStore } from '../../atomic/getStore';
import type { Website } from '../../ontologies/website';
import Container from '../Layout/Container.astro';
import HStack from '../Layout/HStack.astro';
import MenuItem from './MenuItem.astro';

const store = getStore();
const siteResource = await store.getResource<Website>(ATOMIC_WEBSITE_SUBJECT);
const [home, ...menuItems] = siteResource.props.menuItems ?? [];
---

<nav>
  <Container>
    <ul>
      <HStack wrap align='center' gap='2rem' justify='space-between'>
        <li>
          <MenuItem subject={home} />
        </li>
        <HStack wrap align='center' gap='2rem'>
          {
            menuItems.map(subject => (
              <li>
                <MenuItem {subject} />
              </li>
            ))
          }
        </HStack>
      </HStack>
    </ul>
  </Container>
</nav>

<style>
  nav {
    background-color: var(--t-colors-dark);
    color: var(--t-colors-text-inverted);
    padding: var(--t-spacing-3);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>
