---
import Container from './Layout/Container.astro';

type Props = {
  title: string;
};
const { title } = Astro.props;
---

<div>
  <Container>
    <h2>{title}</h2>
    <slot />
  </Container>
</div>

<style>
  div {
    padding-block: var(--t-spacing-5);
    h2 {
      margin: 0;
    }
    p {
      max-width: 75ch;
    }
  }
</style>
